body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}
.navigation {
  background-color: #ffffff;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

ul {
  padding: 0;
}
img {
  text-align: center;
}

li {
  color: #14213D;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 16px 20px;
  text-transform: uppercase;
}

#logo {
  color: #FCA311;
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  padding: 0px 50px;
}
a {
  text-decoration: none;
}
.mySlides {display:none;}
}
